#container {
  height: 100vh;
  width: 100vh;
}
header {
  background-color: #ffb973;
  height: 8%;
}
main {
  height: 50%;
}
section {
  background-color: #ffcc99;
  float: left;
  height: 100%;
  width: 60%;
}

aside {
  background-color: #ffe599;
  height: 100%;
}

footer {
  background-color: #ccff99;
  height: 12%;
}
